@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/KFO9CniXp96a4Tc2EZzSuDAoKsE61phJW3s.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/KFO9CniXp96a4Tc2EZzSuDAoKsHd0ZhJW3s.ttf) format('truetype');
}
