@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/zrf30HnU0_7wWdMrFcWqSEXPVyEaWJ55pTleMlZEiesQiQ.ttf) format('truetype');
}
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/zrf30HnU0_7wWdMrFcWqSEXPVyEaWJ55pTleMrFDiesQiQ.ttf) format('truetype');
}
